.index-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.index-header a {
  border-radius: 0.3rem;
  font-weight: bold;
  text-align: center;
}
.index-header .h1-index {
  text-align: center;
  font-weight: bold;
  color: white;
}

.index-header .navbar-toggler,
.historia-header .navbar-toggler,
.personajes-header .navbar-toggler,
.eventosImportantes-header .navbar-toggler,
.contacto-header .navbar-toggler {
  filter: invert(1);
}

.historia-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.historia-header a {
  border-radius: 0.3rem;
  font-weight: bold;
  text-align: center;
}
.historia-header .h1-historia {
  text-align: center;
  font-weight: bold;
  color: white;
}

.personajes-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.personajes-header a {
  border-radius: 0.3rem;
  font-weight: bold;
  text-align: center;
}
.personajes-header .h1-personajes {
  text-align: center;
  font-weight: bold;
  color: white;
}

.eventosImportantes-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.eventosImportantes-header a {
  border-radius: 0.3rem;
  font-weight: bold;
  text-align: center;
}
.eventosImportantes-header .h1-eventosImportantes {
  text-align: center;
  font-weight: bold;
  color: white;
}

.contacto-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.contacto-header a {
  border-radius: 0.3rem;
  font-weight: bold;
  text-align: center;
}
.contacto-header .h1-contacto {
  text-align: center;
  font-weight: bold;
  color: white;
}

.index-main {
  background-color: rgb(116, 4, 4);
}
.index-main p {
  text-align: center;
}
.index-main .index-imagen-container {
  max-width: 30rem;
}
.index-main .index-imagen-container img {
  border-radius: 0.5rem;
}
.historia-main p {
  text-align: center;
  padding: 1rem;
}
.historia-main .historia-imagen-container {
  max-width: 30rem;
}
.historia-main .historia-imagen-container img {
  border-radius: 0.5rem;
}

.personajes-main .personaje-card,
.personajes-main .equipo-card {
  max-width: 20rem;
}
.personajes-main img {
  height: 10rem;
}
.personajes-main .blue-card {
  background-color: rgba(2, 15, 90, 0.938);
}
.personajes-main .yellow-card {
  background-color: rgba(184, 158, 16, 0.938);
}
.personajes-main .green-card {
  background-color: rgba(6, 139, 24, 0.938);
}
.personajes-main .green2-card {
  background-color: rgba(4, 70, 13, 0.938);
}
.personajes-main .purple-card {
  background-color: rgba(122, 3, 158, 0.938);
}
.personajes-main .grey-card {
  background-color: rgba(124, 122, 124, 0.938);
}
.personajes-main .red-card {
  background-color: rgba(207, 6, 6, 0.938);
}
.personajes-main .black-card {
  background-color: rgba(24, 24, 24, 0.938);
}
.personajes-main .orange-card {
  background-color: rgba(204, 127, 12, 0.938);
}
.personajes-main .light-blue-card {
  background-color: rgba(8, 123, 190, 0.938);
}

.eventoImportante-main .evento-indice-card {
  max-width: 20rem;
}
.eventoImportante-main .evento-card {
  background-color: #1c1c1c;
  border: 0.125rem solid #ff0000;
  border-radius: 0.625rem;
  padding: 1.25rem;
  max-width: 50rem;
  width: 90%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
}
.eventoImportante-main .blue-card {
  background-color: rgba(2, 15, 90, 0.938);
}
.eventoImportante-main .purple-card {
  background-color: rgba(122, 3, 158, 0.938);
}
.eventoImportante-main .green2-card {
  background-color: rgba(4, 70, 13, 0.938);
}
.eventoImportante-main .red-card {
  background-color: rgba(207, 6, 6, 0.938);
}
.eventoImportante-main .grey-card {
  background-color: rgba(124, 122, 124, 0.938);
}
.eventoImportante-main .black-card {
  background-color: rgba(24, 24, 24, 0.938);
}
.eventoImportante-main .rose-card {
  background-color: rgba(201, 8, 114, 0.938);
}
.eventoImportante-main .orange-card {
  background-color: rgba(204, 127, 12, 0.938);
}
.contacto-main .formulario-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.contacto-main .formulario-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
}
.contacto-main .contacto-imagen-container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.contacto-main .contacto-imagen-container img {
  border-radius: 0.5rem;
}
.index-body,
.historia-body,
.personajes-body,
.eventosImportantes-body,
.contacto-body {
  background-color: rgb(116, 4, 4);
}

@media screen and (min-width: 800px) {
  .index-body .index-main p {
    padding: 2rem;
  }
  .index-body .index-main .index-imagen-container {
    max-width: 40rem;
  }
  .historia-body .historia-main .historia-imagen-container {
    max-width: 40rem;
  }
  .eventosImportantes-body .eventoImportante-main .evento-card {
    max-width: 70rem;
    padding: 1.5rem;
  }
  .contacto-body .formulario-imagen {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1rem;
  }
  .contacto-body .formulario-contacto {
    flex: 1;
    max-width: 500px;
    align-self: flex-start;
  }
  .contacto-body .contacto-imagen-container {
    max-width: 40rem;
    flex: 1;
    align-self: flex-start;
  }
}
.index-main h2, .historia-main h2, .personajes-main h2, .eventoImportante-main h2, .contacto-main h2 {
  text-decoration: underline;
  text-align: center;
}

.eventoImportante-main .enlace-evento {
  background-color: gold;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  transition: transform 1s;
}
.eventoImportante-main .enlace-evento:hover {
  transform: scale(1.2);
}

.oscurecer-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
}

/*# sourceMappingURL=style.css.map */
