@import "./layout/header";
@import "./layout/main";
@import "./layout/body";
@import "./mq/mq";
@import "./utilities/extends";

.oscurecer-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}