.index-header {
    background-image: url(../img/variosPersonajes.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    position: relative;

    a {
      border-radius: 0.3rem;
      font-weight: bold;
      text-align: center;
    }

    .h1-index {
      text-align: center;
      font-weight: bold;
      color: white;
    }
}

.index-header,
.historia-header, 
.personajes-header,
.eventosImportantes-header,
.contacto-header {
  .navbar-toggler {
    filter: invert(1); 
  }
}

.historia-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;

  a {
      border-radius: 0.3rem;
      font-weight: bold;
      text-align: center;
    }

  .h1-historia{
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

.personajes-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;

  a {
      border-radius: 0.3rem;
      font-weight: bold;
      text-align: center;
    }

  .h1-personajes{
    text-align: center;
    font-weight: bold;
    color: white;
  }
}

.eventosImportantes-header{
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;

  a {
      border-radius: 0.3rem;
      font-weight: bold;
      text-align: center;
    }

  .h1-eventosImportantes{
    text-align: center;
    font-weight: bold;
    color: white;
  }
}


.contacto-header {
  background-image: url(../img/variosPersonajes.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;

  a {
      border-radius: 0.3rem;
      font-weight: bold;
      text-align: center;
    }

  .h1-contacto {
    text-align: center;
    font-weight: bold;
    color: white;
  }
}