.index-main {
    background-color: rgb(116, 4, 4);

    p{
        text-align: center;
    }
    
    .index-imagen-container  { 
        max-width: 30rem; 

        img {
            border-radius: 0.5rem;
        }
    }

    h2 {
        @extend %tituloSeccion 
    }
}

.historia-main{
    p{
        text-align: center;
        padding: 1rem;
    }

    h2 {
        @extend %tituloSeccion 
    }

    .historia-imagen-container {

        max-width: 30rem; 

        img {
            border-radius: 0.5rem;
        }

    }
}

.personajes-main {

    h2 {
        @extend %tituloSeccion;
    }

    .personaje-card{
        max-width: 20rem;
    }

    img {
        height: 10rem;
    }

    .blue-card{
        background-color: rgba(2, 15, 90, 0.938);
    }

    .yellow-card {
        background-color: rgba(184, 158, 16, 0.938);
    }

    .green-card {
        background-color: rgba(6, 139, 24, 0.938);
    }

    .green2-card {
        background-color: rgba(4, 70, 13, 0.938);
    }

    .purple-card {
        background-color: rgba(122, 3, 158, 0.938);
    }

    .grey-card{
        background-color: rgba(124, 122, 124, 0.938);
    }
        
}

.eventoImportante-main {

    h2 {
        @extend %tituloSeccion;
    }

    .evento-indice-card {
        max-width: 20rem;
    }

    .evento-card {
        background-color: #1c1c1c;
        border: 0.125rem solid #ff0000; 
        border-radius: 0.625rem;        
        padding: 1.25rem;               
        max-width: 50rem;               
        width: 90%;                     
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.6);
    }
    
    .blue-card{
        background-color: rgba(2, 15, 90, 0.938);
    }

    .purple-card {
        background-color: rgba(122, 3, 158, 0.938);
    }

    .green2-card {
        background-color: rgba(4, 70, 13, 0.938);
    }

    .red-card {
        background-color: rgba(207, 6, 6, 0.938);
    }

    .grey-card {
        background-color: rgba(124, 122, 124, 0.938);
    }

    .enlace-evento{
        @extend %enlace
    }
        
}


.contacto-main {
    .formulario-imagen {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 2rem;
    }

    .formulario-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 500px;
    }

    .contacto-imagen-container{
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center; 
        padding: 1rem;

        img {
            border-radius: 0.5rem;
        }
    }

    h2 {
        @extend %tituloSeccion 
    }
}